.supply-info{
  margin: auto;
  text-align: center;
}

.employees-products{
  display: flex;
}

.employees-products h2 {
  display: inline;
}

.employees-products div+div{
  margin-top: 0;
  margin-left: 5em;
}

.title

.title .add-button {
  display: inline;
  margin-top: 0;
  width: 10%;
  margin-left: -1.5em;
  background-color: #00EB89;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.title .add-button:hover {
  background-color: #00D77E;
}
