<body class="container">
<nav class="nav">
  <div class="nav-wrapper">
    <input type="text" class="search" [(ngModel)]="searchOption">
    <span class="close" (click)="clear()"></span>
    <div class="add-button" (click)="onAddClick()">
      <span class="">Add new</span>
    </div>
  </div>
</nav>
<div class="cards">
  <div class="card" *ngFor="let employee of getEmployeeWithSearch()" (click)="openCardInfo(employee)">
    <img
      src="{{employee.imageUrl ? employee.imageUrl : '../../assets/images/user.png'}}"
      alt="">
    <h2>{{employee.name}} {{employee.surname}}</h2>
    <h1>{{employee.position}}</h1>
  </div>
</div>
</body>

<div class="modal" id="modal-change">
  <div class="modal-backdrop"></div>
  <div class="modal-body" id="modal-change-body">
    <div (click)="onCloseCardInfo()"><span class="close"></span></div>

    <h2>Employee id: {{currentEmployee?.id}}</h2>
    <p>Name: {{currentEmployee?.name}}</p>
    <p>Surname: {{currentEmployee?.surname}}</p>
    <p>Position: {{currentEmployee?.position}}</p>
  </div>
</div>

<div class="modal" id="modal-add">
  <div class="modal-backdrop"></div>
  <div class="modal-body" id="modal-add-body">
    <div (click)="onCloseAddModal()"><span class="close"></span></div>
    <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
      <div class="form-block">
        <label for="name">Name:</label><br>
        <input type="text" ngModel name="name" id="name" placeholder="Name" required>
      </div>

      <div class="form-block">
        <label for="surname">Surname:</label><br>
        <input type="text" ngModel name="surname" id="surname" placeholder="Surname" required>
      </div>



      <button type="button">Close</button>
      <button [disabled]="addForm.invalid" type="submit">Save changes</button>
    </form>
  </div>
</div>
