:root {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  background-color: #E8E8E8;
}

body * + * {
  margin-top: 1.5em;
}


